.title {
  input {
    font-size: 42px;
    font-weight: 900;
  }

  div {
    &:before,
    &:after {
      display: none;
    }
  }
}

.image {
  width: 100%;
  height: 400px;
  object-fit: cover;

  &Full {
    min-height: 300px;
  }
}

.tags {
  margin: 15px 0;
}

.editor {
  margin: 30px -30px;

  :global {
    .cm-s-easymde {
      border: 0;
      font-size: 22px;
    }
    .editor-toolbar {
      border: 0;
      background-color: rgb(0 0 0 / 2%);
    }
  }
}

.buttons {
  display: flex;

  button {
    margin-right: 15px;
  }
}

.margin {
  width: 60%;
  height: fit-content;
  font-size: 60px;
}

a {
  text-decoration: none;
}
